<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">

  <Identity Name="130e9a3a-0831-4090-89ad-dc0ceb1d6c81"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0"/>
  
  <ExecutableList>
    <Executable Name="KeyboardTest.exe"
                Id="Game"
                TargetDeviceFamily="PC"/>
  </ExecutableList>
  
  <ShellVisuals DefaultDisplayName="KeyboardTest (DirectX 11, GDK)"
                PublisherDisplayName="Microsoft Corporation"
                StoreLogo="StoreLogo.png"
                Square480x480Logo="LargeLogo.png"
                Square150x150Logo="Logo.png"
                Square44x44Logo="SmallLogo.png"
                Description="KeyboardTest for DirectX Tool Kit for DirectX 11 (GDK)"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="SplashScreen.png"/>
</Game>
