*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.opendb
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
.vs
Thumbs.db
Bin
out
Debug
Durango
Profile
Release
/ipch
/AppPackages
SCREENSHOT.*
CMakeUserPresets.json
