<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="77504466-b4c0-44e3-a797-9bfc13334e85"
    Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="77504466-b4c0-44e3-a797-9bfc13334e85" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>DGSLTest (DirectX 11)</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="DGSLTest.App">
      <uap:VisualElements
        DisplayName="DGSLTest (DirectX 11)"
        Square150x150Logo="Logo.png"
        Square44x44Logo="SmallLogo.png"
        Description="DGSLTest for DirectX Tool Kit for DirectX 11 (UWP)"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="WideLogo.png"/>
        <uap:SplashScreen Image="SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>