<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:mx="http://schemas.microsoft.com/appx/2013/xbox/manifest"
         IgnorableNamespaces="mx">
  
  <Identity Name="ca073cb1-5711-45df-a54d-4bc92dcf4014"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>EffectsTest (DirectX 11, Xbox)</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>StoreLogo.png</Logo>
    <Description>EffectsTest</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="$targetnametoken$.exe" 
        EntryPoint="EffectsTest.App">
        <VisualElements 
            DisplayName="EffectsTest (DirectX 11, Xbox)"
            Logo="Logo.png"
            SmallLogo="SmallLogo.png"
            Description="EffectsTest for DirectX Tool Kit for DirectX 11 (Xbox)"
            ForegroundText="light"
            BackgroundColor="#464646">
            <SplashScreen Image="SplashScreen.png" />
        </VisualElements>
        <Extensions>
          <mx:Extension Category="xbox.system.resources">
            <mx:XboxSystemResources />
          </mx:Extension>
        </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>
