<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:mx="http://schemas.microsoft.com/appx/2013/xbox/manifest"
         IgnorableNamespaces="mx">
  
  <Identity Name="876a7437-f77e-4317-9219-4440d66480b8"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>PrimitivesTest (DirectX 11, Xbox)</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>StoreLogo.png</Logo>
    <Description>PrimitivesTest</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="$targetnametoken$.exe" 
        EntryPoint="PrimitivesTest.App">
        <VisualElements 
            DisplayName="PrimitivesTest (DirectX 11, Xbox)"
            Logo="Logo.png"
            SmallLogo="SmallLogo.png"
            Description="PrimitivesTest for DirectX Tool Kit for DirectX 11 (Xbox)"
            ForegroundText="light"
            BackgroundColor="#464646">
            <SplashScreen Image="SplashScreen.png" />
        </VisualElements>
        <Extensions>
          <mx:Extension Category="xbox.system.resources">
            <mx:XboxSystemResources />
          </mx:Extension>
        </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
  <Extensions>
    <mx:PackageExtension Category="windows.kinect">
      <mx:Kinect IsVersionLocked="false">
        <mx:AudioPipeline Version="1.14.8" />
        <mx:SpeechPipeline Version="1.14.8" />
        <mx:VisionPipeline Version="1.14.8" />
      </mx:Kinect>
    </mx:PackageExtension>
  </Extensions>
</Package>
