<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">

  <Identity Name="0d34d251-89e7-4888-addf-895c9fec353c"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0"/>
  
  <ExecutableList>
    <Executable Name="MouseTest.exe"
                Id="Game"
                TargetDeviceFamily="PC"/>
  </ExecutableList>
  
  <ShellVisuals DefaultDisplayName="MouseTest (DirectX 11, GDK)"
                PublisherDisplayName="Microsoft Corporation"
                StoreLogo="StoreLogo.png"
                Square480x480Logo="LargeLogo.png"
                Square150x150Logo="Logo.png"
                Square44x44Logo="SmallLogo.png"
                Description="MouseTest for DirectX Tool Kit for DirectX 11 (GDK)"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="SplashScreen.png"/>
</Game>
